In [1]:
import nltk
import spacy
import pandas as pd
import tqdm

2022-09-09 16:17:25.279254: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /sqlite3/build/.libs:/.singularity.d/libs
2022-09-09 16:17:25.279316: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [9]:
data = pd.read_csv("data/ner_annotated.csv", encoding='unicode_escape')

data

          Sentence #           Word  POS Tag
0        Sentence: 1      Thousands  NNS   O
1                NaN             of   IN   O
2                NaN  demonstrators  NNS   O
3                NaN           have  VBP   O
4                NaN        marched  VBN   O
...              ...            ...  ...  ..
1048570          NaN           they  PRP   O
1048571          NaN      responded  VBD   O
1048572          NaN             to   TO   O
1048573          NaN            the   DT   O
1048574          NaN         attack   NN   O

[1048575 rows x 4 columns]

In [10]:
data["POS"]

tags = {}

for newtag in tqdm.tqdm(data["POS"]):
    tags[str(newtag)] = 0

len(tags) # 42 unique tags

labeledtags = {list(tags.keys())[i]:i for i in range(len(tags.keys()))}

partofspeech = list(data["POS"])

idslist = [labeledtags[x] for x in partofspeech]
idslist[0:10]
data["posID"] = idslist

100%|██████████| 1048575/1048575 [00:00<00:00, 3094702.27it/s]